<body class="container-fluid">
    <header class="col-sm-12"></header>
    {{#each designs}}
    <section class="col-sm-12 text-center element">
        <div class="text-left">
            <a href="{{location}}"><img class="element-image" id="{{uuid}}" src="{{imageUrl}}?t={{checksum}}" alt="{{location}}"/></a>
        </div>
        <div class="text-rigth">
            <a href="{{location}}"><span class="element-label">{{uuid}}</span></a>
        </div>
    </section>
    {{/each}}
    <footer class="col-sm-12">
        <p>Powered by NextBreakpoint</p>
    </footer>
</body>
