<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <section class="design-container anchor-left anchor-right">
                    <img class="design-image" id="{{design.uuid}}" src="{{design.imageUrl}}?t={{design.checksum}}" alt="{{design.imageUrl}}"/>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <footer>
                    <p>Powered by NextBreakpoint</p>
                </footer>
            </div>
        </div>
    </div>
    <input type="hidden" id="uuid" value="{{uuid}}"/>
</body>
