<body>
    <header><p><b>The Beauty of Chaos</b> | Fractals</p></header>
    <div class="elements-grid">
    {{#each grid}}
    <div class="elements-row">
    {{#each .}}
        <div id="{{design.uuid}}" class="element"><a href="{{design.location}}"><img src="{{imageUrl}}" alt="{{design.location}}"/></a></div>
    {{/each}}
    </div>
    {{/each}}
    </div>
    {{#if show}}
    <div class="elements-more">
        <a href="/browse/designs.html?from={{next}}&size={{size}}">Show more</a>
    </div>
    {{/if}}
    <footer>
        <p>Powered by <a href="https://nextbreakpoint.com">NextBreakpoint</a>{{#if admin}} | <a href="../admin/designs.html">Edit</a>{{/if}}{{#if login}} | <a href="{{config.api_url}}/v1/auth/signin/admin/designs.html">Login</a>{{/if}}</p>
    </footer>
    <script>
        function resize() {
            let size = Math.round(window.innerWidth / 8);
            let rows = document.querySelectorAll(".elements-row");
            for (let i = 0; i < rows.length; i++) {
                rows[i].style.width = (size * 8) + "px";
                rows[i].style.height = size + "px";
            }
            let elements = document.querySelectorAll(".element");
            for (let i = 0; i < elements.length; i++) {
                elements[i].style.width = size + "px";
                elements[i].style.height = size + "px";
            }
        }
        domReady(function(event) {
            window.addEventListener('resize', function(e) {
                resize();
            });
        })
        resize();
    </script>
</body>
